.createclothesform{
width: 560px;
box-shadow: 0 0 15px rgba(0,0,0,0.4);
border-radius: 5px;
margin-left: 46px;

}


.form-group{
      width: 475px;
    margin-left: 44px;

}


.toppadding{
      padding-top: 50px;
}

.background{
  background-color: white;
  border-radius: 13px;
}
