
// Import page-specific CSS files here.
@import "home";
@import "show";
@import "bookingnew";
@import "items_page";
@import "create_clothes";

h1{
    font-weight: 800;
    font-size: 33px;
    margin-top: 45px;
    margin-bottom: 50px;
  }


