
#container_bookings_product {
  margin-bottom: 80px;
}

#cards_booking_product {
  margin: 60px;
  margin-left: 188px;
}

#title_booking_big {
  font-size: 20px;
}

#p_booking_big  {
  font-size: 20px;
}

#title_centered {
  align-item: center;
}

#title_id {
}
