.top-garment-container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 30px;
  font-size: 14px;
  color: #484848;
  background-color: #fff;
  border-radius: 0px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  height: 500px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

}

.garment-image-container img {
  margin: 30px;
  border-radius: 10px;
}

.image-booking-container{
  margin: 20px;
  flex: stretch;
  object-fit: cover;
}

.image-booking-container .img{
  border: 2px solid blue;
}

.information-container{
  margin: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 300px;
  background-color: #F2F2F2;
  box-sizing: border-box;

  h1 {
    text-align: left;
    margin: 16px;
  }
  p {
    text-align: left;
    margin: 16px;
  }

}

.booking-container {
  display: flex;
  justify-content: space-between;
  margin: 2vw 0;
  font-size: 30px;
  font-weight: bold;
  border-radius: 0px;
  background-color: #F2F2F2;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 3vw;
}

.btn-custom {
  min-width: 10vw;
}

.garment-name {
font-family: 'Bebas Neue', cursive;
font-size: 40px;
}

.garment- {
  font-size: 20px;
}

#garment_description {
  font-size: 20px;
}


.btn-btn-primary-blue {

  text-align: bottom-left;
  margin: 16px;
}

.carouselExampleControls {
  border: 1px solid grey;
}
