.top-garment-container {
   display: flex;
   margin-top: 120px;
   font-size: 14px;
   line-height: 1.43;
   color: #484848;
   background-color: #fff;
   border-radius: 10px;
   text-align: center;
   font-family: "Roboto", sans-serif;

}

.garment-image-container img {

  margin: 30px;
  width: 500px;
  height: 400px;
  border-radius: 10px;
}

.information-container{

  margin: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

  width: 700px;
  background-color: #F2F2F2;

  box-sizing: border-box;

  h1 {
    text-align: left;
    margin: 16px;
  }
  p {
    text-align: left;
    margin: 16px;
  }

}

.booking-container {

  display: flex;
  justify-content: space-between;
  margin: 2vw 0;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #F2F2F2;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 3vw;
}

.btn-custom {
  min-width: 10vw;
}

.garment-name{

font-family: 'Bebas Neue', cursive;
}

.garment-price {

  font-size: 20px;
}

.btn-btn-primary-blue {

  text-align: bottom-left;
  margin: 16px;
}
