<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
    <ul>
      <li><a class='footer-text' href="#">Careers</a></li>
      <li><a class='footer-text' href="#">News</a></li>
      <li><a class='footer-text' href="#">Policies</a></li>
      <li><a class='footer-text' href="#">Help</a></li>
      <li><a class='footer-text' href="#">Policies</a></li>
    </ul>

    <ul>
      <li><a class='footer-text' href="#"> Company Details</a></li>
      <li><a class='footer-text' href="#">Invite Friends</a></li>
      <li><a class='footer-text' href="#">Airbaby Citizen</a></li>
      <li><a class='footer-text' href="#">Renting</a></li>
      <li><a class='footer-text' href="#">Diversity & Belonging</a></li>
    </ul>

  <div class="footer-copyright">
    This footer was made with <i class="fas fa-coffee"></i> at Le Wagon
  </div>
</div>


