.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  padding: 100px;
  height: 200px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgba(0,0,0,0.3);
  opacity: 0.15;
  text-decoration: none;
  font-size: 35px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-coffee {
  color: #D23333;
}

.footer-text {
  color: rgba(0,0,0,0.3);
  opacity: 0.45;
  text-decoration: none;
  font-size: 12px;
  padding: 0px 10px;
}

.footer-text a:hover {
  opacity: 1;
}

ul a:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}

.footer-copyright {
  font-size: 12px;
}


