.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.container map {
  margin: 300px;
}

.mapboxgl-canvas {
  padding: 10px 10px 10px 10px;

}

.super_div {
  display: flex;
}
