.searchbox{
 height: 3.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border: 1px solid #E7E7E7;
  width: 500px;
  border-radius: 5px;

    .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #93c4fd;
    outline: 0;
    width: 378px;
    margin-left: 6px;

  }

}
#query {
  border: none;


}


